#sidebar {
    display: block;
    font-family: Comic Sans MS;
    height: fit-content;
    width: 55px;
    border: green;
    border-style: solid;
    padding: 10px;
    margin:10px;
    background-color:cyan;
}
#gamer {
    position: relative;
    bottom: 100px;
    left: 100px;
    font-family: monospace;
    font-size: 15px;
}
#list {
    position: relative;
    bottom: 100px;
    left: 100px;
    width: 80%;
}
