body {
    font-family: Verdana;
    background-color: #282a36;
    color: #f8f8f2;
}
#menu {
    display: block;
    height: fit-content;
    width: 125px;
    padding: 5px;
    border-style: solid;
    margin: 5px ;
    background-color: #44475a;

}
#menu a {
    color: #f8f8f2;
}
span {
    color: #6272a4;
}
table, th, td {
    border: 3px solid #f8f8f2;
    border-collapse: collapse;
}