.sidebar {
    font-family: Source Code Pro;
    height: fit-content;
    width: 55px;
    border: green;
    border-style: solid;
    padding: 10px;
    margin:10px;
    background-color:cyan;
}
.list {
    position: relative;
    bottom: 100px;
    left: 100px;
    width: 80%;
}